.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 26px;
}

.pointer {
    cursor: pointer;
}

body {
    margin: 0;
}

.header {
    background-color: rgb(122, 163, 252);
    margin: 0;
    padding: 1.5% 1%;
}

.product-cards {
    padding: 3%;
    row-gap: 20px;
    column-gap: 17px;
}

.pic {
    height: 150px;
}

.product-name {
    background-color: beige;
    border-bottom: 2px solid rgb(207, 117, 32);
}

.product {
    border: 3px solid rgb(207, 117, 32);
    border-radius: 10px;
    text-decoration: none;
}

.product-content {
    padding: 0;
}

.product-buttons {
    border-top: 2px solid rgb(207, 117, 32);
}

.product-list {
    text-decoration: none;
}

.title {
    width: 80%;    
}

.show {
    align-items: center;    
    width: 50%;
    
    justify-content: flex-end;
}

.show-btn {
    padding: 1%;
    justify-content: flex-end;
}